
<section>
  <div class="banner-title">
    <div class="left"></div>
    <div class="right">
      <span class="item">Tenant</span>
      <input class="item" placeholder="tenant name"  />
      <button class="item">Create Tenant</button>
    </div>
  </div>

  <ul class="rectangles">
    <li>
      <span class="left">
        <img src="/assets/icon/svg/letters/A.svg" />
      </span>
      <span class="right">
        <div class="name">
          Test <svg ></svg>
          <span class="opt"></span>
        </div>
        <p>有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等</p>
      </span>
    </li>
    <li>
      <span class="left">
        <img src="/assets/icon/svg/letters/A_a.svg" />
      </span>
      <span class="right">
        <div class="name">
          Test <svg></svg>
          <span class="opt"></span>
        </div>
        <p>有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等</p>
      </span>
    </li>
    <li>
      <span class="left">
        <img src="/assets/icon/svg/letters/A.svg" />
      </span>
      <span class="right">
        <div class="name">
          Test <svg></svg>
          <span class="opt"></span>
        </div>
        <p>有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等</p>
      </span>
    </li>
    <li>
      <span class="left">
        <img src="/assets/icon/svg/letters/A.svg" />
      </span>
      <span class="right">
        <div class="name">
          Test <svg></svg>
          <span class="opt"></span>
        </div>
        <p>有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等</p>
      </span>
    </li>
    <li>
      <span class="left">
        <img src="/assets/icon/svg/letters/A.svg" />
      </span>
      <span class="right">
        <div class="name">
          Test <svg></svg>
          <span class="opt"></span>
        </div>
        <p>有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等</p>
      </span>
    </li>
    <li>
      <span class="left">
        <img src="/assets/icon/svg/letters/A.svg" />
      </span>
      <span class="right">
        <div class="name">
          Test <svg></svg>
          <span class="opt"></span>
        </div>
        <p>有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等</p>
      </span>
    </li>
    <li>
      <span class="left">
        <img src="/assets/icon/svg/letters/A.svg" />
      </span>
      <span class="right">
        <div class="name">
          Test <svg></svg>
          <span class="opt"></span>
        </div>
        <p>有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等;有的人喜欢吃辣的东西，有的人不喜欢吃芹菜，有的人不喜欢吃羊肉等等</p>
      </span>
    </li>
  </ul>
</section>

<section>
  <div class="details">
    <div class="top">
      <div class="left">Demo</div>
      <div class="right">
        <button class="item">信任管理</button>
        <button class="item">访问管理</button>
        <button class="item">...</button>
      </div>
    </div>
    <div class="description">说明：本文档兼容性测试基础环境为：windows系统；IE6-IE10, Firefox9.0, Chrome16.0, Safari5.1, Opera11.60;说明：本文档兼容性测试基础环境为：windows系统；IE6-IE10, Firefox9.0, Chrome16.0, Safari5.1, Opera11.60</div>
    <div class="items">
      <label>类型
        <span>PUBLIC</span>
      </label>
      <label>创建时间
        <span>2018.12.31 13:20:13</span>
      </label>
      <label>自定义信息
        <span class="ellipsis">...</span>
      </label>
    </div>
  </div>
</section>

<section class="" style="margin-bottom: 100px">
  <div class="hub">
    <h4>
      <img src="/assets/icon/svg/A.1.svg" /> 恭喜注册成功
    </h4>
    <p class="align-center">以下为您的Federation账号</p>
    <p><label>用户名：</label> federation_admin</p>
    <p><label>邮箱：</label> federation_admin@transwarp.io</p>
    <button class="login">立即登录</button>
  </div>

  <div class="hub">
    <h4>忘记密码</h4>
    <p>请输入您用于注册的邮箱，我们将发送重置密码的链接到此邮箱</p>
    <p class="register">
      <span>注册邮箱</span>
      <input class="field" />
      <button>发送链接</button>
    </p>
  </div>
</section>

