<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<nav>
	<a routerLink="/flex-spike" routerLinkActive="active">flex-spike</a>
	<a routerLink="/rx-spike" routerLinkActive="active">rx-spike</a>
	<a routerLink="/libs-spike" routerLinkActive="active">libs-spike</a>
	<a routerLink="/decorators-spike" routerLinkActive="active">decorators-spike</a>
	<a routerLink="/templates" routerLinkActive="active">templates</a>
	<a routerLink="/tui" routerLinkActive="active">tui</a>
	<a routerLink="/eco-charts" routerLinkActive="active">eco-charts</a>
	<a routerLink="/quill" routerLinkActive="active">quill</a>
	<a routerLink="/base64" routerLinkActive="active">base64</a>
	<a routerLink="/iframe" routerLinkActive="active">iframe</a>
	<a routerLink="/federation" routerLinkActive="active">federation</a>
</nav>
<tui-icon-symbol></tui-icon-symbol>
 
<router-outlet></router-outlet>

	<!-- <a [routerLink]="[{ outlets: { outerOutlet: ['outer'] } }]">outer</a>
	<a [routerLink]="[{ outlets: { outerOutlet2: ['fuck'] } }]">fuck</a> -->