<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<nav>
	<a routerLink="/flex-spike" routerLinkActive="active">flex-spike</a>
	<a routerLink="/rx-spike" routerLinkActive="active">rx-spike</a>
	<a routerLink="/libs-spike" routerLinkActive="active">libs-spike</a>
	<!-- <a [routerLink]="[{ outlets: { outerOutlet: ['outer'] } }]">outer</a>
	<a [routerLink]="[{ outlets: { outerOutlet2: ['fuck'] } }]">fuck</a> -->
</nav>

<router-outlet></router-outlet>
