<p>
  tui works!
  <tui-submenu backUrl="../">
    <div class="submenu-filter">
    </div>
    <tui-submenu-list menuTitle="{{'fuck title'}}: {{67}}" [items]="submenuItems" (selectChange)="ssssssss($event)"></tui-submenu-list>
  </tui-submenu>

  <!-- <tui-menu
    selectedKey="user"
    (selectChange)="selectChange($event)"
    [selectedKey]=""
    menuTitle="分类菜单"
  >
    <tui-menu-item-group menuTitle="用户与权限">
      <tui-menu-item icon="user" key="user">
        用户
      </tui-menu-item>
      <tui-menu-item icon="mask" key="role">
        角色
      </tui-menu-item>
      <tui-menu-item icon="user-group" key="group">
        组
      </tui-menu-item>
    </tui-menu-item-group>
    <tui-menu-item-group menuTitle="产品">
      <tui-menu-item icon="list" key="product">
        产品
      </tui-menu-item>
    </tui-menu-item-group>
  </tui-menu> -->
</p>
