<!-- <p>federation:</p>
<nav>
	<a routerLink="./main" routerLinkActive="active">main</a>   
	<a routerLink="./modal" routerLinkActive="active">modal</a>
</nav>

<router-outlet></router-outlet>
 -->

<section class="navigation">
	<h1 class="logo"></h1>
	<tui-menu
	  routeHandler
	  (selectChange)="selectChange($event)"
	>
	  <tui-menu-item icon="{{item.icon}}" key="{{item.path}}"
		*ngFor="let item of menuItems; index as i;"
	  >
		{{item.label}}
	  </tui-menu-item>
	</tui-menu>
  </section>
  <section class="content">
	<header style="border-bottom: 1px #ddd solid">
	  <span>{{'rockwang' }}
		<svg tuiIcon="caret-down" size="md"></svg>
	  </span>
	  <span>
		<svg tuiIcon="property-users" size="md"></svg>
		{{"COMMON.HEADER.invite"}}
	  </span>
	</header>
	<router-outlet></router-outlet>
</section>
  