
<div class="flex-wrapper-devided h300">
	<span class="f-1">1</span>
	<span class="f-2">2</span>
	<span class="f-3">3</span>
</div>

<div class="flex-wrapper-devided h300">
</div>
<div class="flex-wrapper-devided h300">
</div>
<div class="flex-wrapper-devided h300">
</div>
<div class="flex-wrapper-devided h300">
</div>
<!-- <div class="flex-wrapper-short">
	<span>1</span>
	<span>2</span>
	<span>3</span>
</div>
 -->
<!-- <div class="flex-wrapper-fix-left">
	<span>1</span>
	<span>2</span>
</div>
 -->

